<h1>Movies</h1>
<form action='/access' method="post">
  <label for="inputName">Enter Your Name:</label>
  <input name="inputName" class="form-control" id="inputName">
  <label for="inputUser">Enter Your Username:</label>
  <input name="inputUser" class="form-control" id="inputUser">
  <label for="inputPass">Enter Your Password:</label>
  <input name="inputPass" class="form-control" id="inputPass">
  <button type="submit" class="btn btn-success">Submit</button>
</form>
